.container {
  background-color: rgba(245, 245, 245, 0.555);
  width: 800px;
  margin: auto;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 10px;
  border-radius: 25px;

  font-family: "Malgun Gothic";
}

.container-md {
  font-size: xx-large;
  background-color: rgb(252, 252, 190);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;

  font-family: "Malgun Gothic";
  text-align: center;
}

.table {
  text-align: center;
  width: 180px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

#wrapper {
  margin: 20px;
  padding: 20px;
}

#banner {
  margin: 10px;
  padding: 10px;
}

.detail {
  font-size: x-small;
}

.select {
  padding: 5px;
}

.context {
  padding-bottom: 10px;
}
.button {
  padding-left: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.form-select {
  width: 100px;
}
